API_PUBLIC_URL="http://localhost:3333"
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/forgd"
LOG_LEVEL="info"
JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
REFRESH_JWT_PRIVATE_KEY=
REFRESH_JWT_PUBLIC_KEY=
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_MOBILE_REDIRECT_URI="forgd://auth-callback"
